 $prefix: "xterioauth";

 .#{$prefix} {
   &-pointer {
     cursor: pointer;
   }

   &-modal-shadow {
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     z-index: 1000;
   }

   &-modal-bg {
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.6);
     z-index: 1000;
   }

   &-modal-container-iframe {
     height: 100%;
     width: 100%;
     max-width: 400px;
     margin: auto;
     z-index: 1010;
     position: relative;
   }
 }